# FRONT END

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Images Directory, not pushing until I know that I want to use them
/frontend/public/images


# BACKEND

*.pyc



TODO.md



/image-processing/arbor
/image-processing/bataleon
/image-processing/burton
/image-processing/capita
/image-processing/cardiff
/image-processing/dc
/image-processing/gnu
/image-processing/jones
/image-processing/k2
/image-processing/lib-tech
/image-processing/lobster
/image-processing/moss-snowstick
/image-processing/never-summer
/image-processing/nidecker
/image-processing/nitro
/image-processing/public-snowboards
/image-processing/ride
/image-processing/rome
/image-processing/rossignol
/image-processing/salomon
/image-processing/season
/image-processing/sims
/image-processing/united-shapes
/image-processing/weston
/image-processing/yes